<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KumuArt</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="art-wrapper">
  <div class="art-container">
    <div class="art-header">
      <h2>KumuArt</h2>
    </div>
    
    <div class="art-content">
      <div class="input-area">
        <div class="textarea-container">
          <textarea id="artdescription" placeholder="Enter a description of an image you want to generate."></textarea>
        </div>
        
        <div class="button-container">
          <button id="artsubmit-btn">Submit</button>
        </div>
      </div>
      
      <div class="error-message">
        <p id="artoutput"></p>
      </div>
      
      <div class="image-section">
        <h3 class="section-title">Image Generated</h3>
        <div id="artimage-container">
          <p id="image-placeholder">This is where the image will show up</p>
          <img id="artimage" style="display: none;">
        </div>
      </div>
      
      <div class="fact-section">
        <h3 class="section-title">Fun Fact</h3>
        <div id="artfact-container">
          <p id="fact-placeholder">This is where the fun fact will show up</p>
          <p id="artfact" style="display: none;"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
