<!DOCTYPE html>
<html>
<head>
  <title>KumuChat</title>
</head>
<body class="chatbody">
  <div class="chatcontainer">
    <h2 id="chath1">KumuChat</h2>
    <div id="chatmessage-container" class="chatmessages"></div>
    <div class="chatinput-container">
      <div class="chatinput-wrapper">
        <textarea id="chatuser-input" placeholder="Enter your message here"></textarea>
      </div>
      <div class="chatcheckbox-wrapper">
        <input type="checkbox" id="chatenable-english-output">
        <label for="chatenable-english-output">Enable KumuChat English Output</label>
      </div>
      <div class="chatbutton-wrapper">
        <button id="chatsubmit-btn">Submit</button>
      </div>
    </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
