<!DOCTYPE html>
<html>
<head>
</head>
<body class="transbody">
    <div class="transcontainer">
        <div class="translator">
            <h2>Kumu Translator</h2>
            <textarea id="transinputText" placeholder="Enter English text here..."></textarea>
            <div class="transbutton-container">
                <button id="transswitch">&#8597;</button>
                <button id="translate">Translate</button>
            </div>
            <textarea id="transoutputText" placeholder="Translated Hawaiian text will appear here..." readonly></textarea>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
